#education {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#education a, #education a:visited  { color: #11ABB0; }
#education a:hover, #education a:focus { color: #313131; }

#education h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#education h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}
#education h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
}

#education .header-col { padding-top: 9px; }
#education .main-col { padding-right: 10%; }

.education{
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}

#education .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}
#education .info span {
    margin-right: 5px;
    margin-left: 5px;
}
#education .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
    font-style: italic;
}

.GPA{
    font-weight:bold;
}

.courses{
    font-size:15px
}